h1,
p {
  font-family: Lato;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4169e1;
  color: #fff;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

nav > ul li {
  margin-left: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/*  */

.movies-container {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1rem;
}

.movie {
  background-color: #fff;
  border: 2px solid royalblue;
  /* color: #fff; */
  padding: 1rem;
  text-align: center;
}